@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700');
body{
	font-family: 'Cabin', sans-serif;
	font-size: 14px;
	color: #212529;
}

#hero{
	background-image: url("../img/holasoy.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	padding: 300px 0;
	color: #fff;
	text-align: top;

	
}
.header-area.sticky {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 99;
}
.header-area.sticky .navbar-default{
	background-color: #884bdf;
}

#about{
	padding-top: 70px;
	padding-bottom: 90px;
	font-family: Baskerville, 'Palatino Linotype' 'Century Schoolbook L';
	background-color: #185888;
	color: #FFFFFF;
	font-style: normal;
	font-weight: lighter;
}

.titulo{
	font-size: 50px;
	padding-top: 50px;
	padding-bottom: 20px;
	
} 


#title{
	padding-bottom: 20px;
	text-align: center;
	
}

#services{
	background-color: #FFFFFF;
	padding-bottom: 40px;
}

#services i{
	font-size: 100px;
	padding-left: 140px;
}

#services p{
	font-size: 18px;
	text-align:end;
}

#services h4{
	font-size: 37px;
	font-weight:100;
	font-style:normal;
	text-align: center;
}

#services h2{
	font-size: 50px;
	text-align:left;
	color: #175685;
	font-weight: bolder;

}

p {
 font-size: 20px;
padding-top: 10px;
padding-bottom: 10px;
	
}

#quote{
	text-align: center;
	font-size: 27px;
	font-style: oblique;
	
}


h5{
	color: #FFFFFF;
}



.portafolio{
	position:relative;
}

.portfolio-name{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	color: #FFFFFF;
	text-align:center;
	display: grid;
	align-content: center;
	background-color: #000000;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	
}
.portafolio:hover .portfolio-name{
	opacity: 1;
	transition: all 0.3s ease-in-out;
}
#portafoliotitle{
	color: #FFFFFF;
}

#portfolio{
	background-color: #575757;
	padding-bottom: 60px;
}

font-face {
  font-family: Ubuntu-Bold;
  src: url('../fonts/ubuntu/Ubuntu-Bold.ttf'); 
}

#contact-form input{
	background-color:#B1AEAE;
	border-radius: 0;
	padding: 20px 10px;
	
}
#contact-form textaerea{
	background-color:#B1AEAE;
	border-radius: 0;
	padding: 50px 15px;
}
#contact-form select{
	background-color:#B1AEAE;
	border-radius: 0;
}
#logo{
	height: 50%;
	width: 50%;
	margin-top: 15%;
	margin-left: 25%;
}
footer{
	padding-top: 5%;

}

footer #info{
	background-color: #B1AEAE;
}

footer #info h3{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 20px;
	color: #FFFFFF;
	margin-top: 30px;
	
}
footer p{
	font-size: 14px;
	text-align: center;

}

footer #copy{
	border-top: 1px solid #ddd;
	text-align: center;
	padding: 20px 0;

}

footer #info a{
	color: #343A41;
	font-size: 50px;
	letter-spacing: 20px;
	align-content: center;
	
	
}